<div class="row featurette">
  <div class="col-md-12 text-center">
    <img src="{{products.imag}}" alt="" class="img-fluid featurette-image mx-auto" style="width: 500px; height: auto;">
  </div>
  <div class="col-md-12 mt-4 text-center">
    <h2 class="featurette-heading fw-normal lh-1">
      {{products.titlel}}
      <span class="text-body-secondary">{{products.natija}}</span>
    </h2>
  <p class="lead" style="word-break: break-word;">
  {{products.malumotlar_add}}
</p>
  </div>
</div>
